/* DEFAULT THEME */
.fullpage-editor .cm-s-default .cm-header {color: blue;}
.fullpage-editor .cm-s-default .cm-quote {color: #090;}
.fullpage-editor .cm-negative {color: #d44;}
.fullpage-editor .cm-positive {color: #292;}
.fullpage-editor .cm-header, .cm-strong {font-weight: bold;}
.fullpage-editor .cm-em {font-style: italic;}
.fullpage-editor .cm-link {text-decoration: underline;}
.fullpage-editor .cm-strikethrough {text-decoration: line-through;}

.fullpage-editor .cm-s-default .cm-keyword {color: #708;}
.fullpage-editor .cm-s-default .cm-atom {color: #219;}
.fullpage-editor .cm-s-default .cm-number {color: #164;}
.fullpage-editor .cm-s-default .cm-def {color: #00f;}

.fullpage-editor .cm-s-default .cm-variable,
.fullpage-editor .cm-s-default .cm-punctuation,
.fullpage-editor .cm-s-default .cm-property,
.fullpage-editor .cm-s-default .cm-operator {  }

.fullpage-editor .cm-s-default .cm-variable-2 {color: #05a;}
.fullpage-editor .cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.fullpage-editor .cm-s-default .cm-comment {color: #a50;}
.fullpage-editor .cm-s-default .cm-string {color: #a11;}
.fullpage-editor .cm-s-default .cm-string-2 {color: #f50;}
.fullpage-editor .cm-s-default .cm-meta {color: #555;}
.fullpage-editor .cm-s-default .cm-qualifier {color: #555;}
.fullpage-editor .cm-s-default .cm-builtin {color: #30a;}
.fullpage-editor .cm-s-default .cm-bracket {color: #997;}
.fullpage-editor .cm-s-default .cm-tag {color: #170;}
.fullpage-editor .cm-s-default .cm-attribute {color: #00c;}
.fullpage-editor .cm-s-default .cm-hr {color: #999;}
.fullpage-editor .cm-s-default .cm-link {color: #00c;}

.fullpage-editor .cm-s-default .cm-error {color: #f00;}
.fullpage-editor .cm-invalidchar {color: #f00;}

.fullpage-editor .CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */
.fullpage-editor div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
.fullpage-editor div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.fullpage-editor .CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.fullpage-editor .CodeMirror-activeline-background {background: #e8f2ff;}